# This file maintains work-specific config I don't want public.
emacs/early-init-private.el

# The no-littering Emacs package keeps data/temp files under emacs/var/.
emacs/var/

# Although I'm using the no-littering Emacs package, it doesn't yet
# completely work for the eln-cache directory.
# See: https://github.com/emacscollective/no-littering/discussions/206.
emacs/eln-cache/

**/*auth*
**/*secret*
**/*token*

*.elc
*.log
*.orig
*.swp
*~
.DS_Store
.\#*
.emacs.desktop
.emacs.desktop.lock
\#*\#

AWSVPNClient/
argocd/
auto-save-list
configstore/
droidcli/
envconfig/
exercism/
filezilla/
gcloud/
gh/
ghc/
git/gpg.inc
git/hooks/
gnupg/*.kbx
iterm2/AppSupport
k9s/config.yml
ngrok/
nvim/bundle/*/doc/tags
raycast/extensions/
target/
tramp
zsh/.zcompcache
zsh/.zcompdump
zsh/.zsh_history
zsh/.zsh_sessions/
zsh/lib/private*.zsh