[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
[submodule "nvim/bundle/nerdtree"]
	path = nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nvim/bundle/tabular"]
	path = nvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "nvim/bundle/vim-colors-solarized"]
	path = nvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "nvim/bundle/vim-endwise"]
	path = nvim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "nvim/bundle/vim-fugitive"]
	path = nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/bundle/vim-less"]
	path = nvim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "nvim/bundle/vim-indent-lines"]
	path = nvim/bundle/vim-indent-lines
	url = https://github.com/Yggdroot/indentLine.git
[submodule "nvim/bundle/vim-go"]
	path = nvim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "nvim/bundle/vim-cfmt"]
	path = nvim/bundle/vim-cfmt
	url = https://github.com/crosbymichael/vim-cfmt
[submodule "nvim/bundle/vim-toml"]
	path = nvim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "nvim/bundle/vim-better-whitespace"]
	path = nvim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "nvim/bundle/vim-json"]
	path = nvim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "nvim/bundle/ctrlp.vim"]
	path = nvim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/bundle/delimitMate"]
	path = nvim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "nvim/bundle/vim-bbye"]
	path = nvim/bundle/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "nvim/bundle/vim-sayonara"]
	path = nvim/bundle/vim-sayonara
	url = https://github.com/mhinz/vim-sayonara.git
[submodule "nvim/bundle/vim-gitgutter"]
	path = nvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "nvim/bundle/vim-python-pep8-indent"]
	path = nvim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "nvim/bundle/vim-buftabline"]
	path = nvim/bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "nvim/bundle/vim-multiple-cursors"]
	path = nvim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "nvim/bundle/vim-hclfmt"]
	path = nvim/bundle/vim-hclfmt
	url = https://github.com/fatih/vim-hclfmt.git
[submodule "nvim/bundle/vim-airline"]
	path = nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "nvim/bundle/vim-airline-themes"]
	path = nvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "nvim/bundle/linuxsty.vim"]
	path = nvim/bundle/linuxsty.vim
	url = https://github.com/vivien/vim-linux-coding-style.git
[submodule "nvim/bundle/vim-systemd"]
	path = nvim/bundle/vim-systemd
	url = https://github.com/wgwoods/vim-systemd-syntax.git
[submodule "nvim/bundle/rust.vim"]
	path = nvim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "nvim/bundle/vim-terraform"]
	path = nvim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "nvim/bundle/nerdtree-git-plugin"]
	path = nvim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "nvim/bundle/vim-sensible"]
	path = nvim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "nvim/bundle/nginx.vim"]
	path = nvim/bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "nvim/bundle/vim-git"]
	path = nvim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "nvim/bundle/vim-markdown"]
	path = nvim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "nvim/bundle/vim-protobuf"]
	path = nvim/bundle/vim-protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule "nvim/bundle/vim-yaml"]
	path = nvim/bundle/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "nvim/bundle/vim-mipssyntax"]
	path = nvim/bundle/vim-mipssyntax
	url = https://github.com/harenome/vim-mipssyntax.git
[submodule "nvim/bundle/vim-surround"]
	path = nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/bundle/coc.nvim"]
	path = nvim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "nvim/bundle/vim-jsx"]
	path = nvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
