# General ignore patterns for secrets as some apps still continue
# to store secrets under XDG_CONFIG_HOME.
**/*secret*
**/*token*
**/*auth*

zsh/.zcompdump
zsh/.zsh_history
emacs/.cache/
emacs/.dap-breakpoints
emacs/.extension
emacs/.lsp-session-v1
emacs/.last-package-update-day
emacs/.org-id-locations
emacs/bookmarks
emacs/elpa
emacs/eshell/history
emacs/eshell/lastdir
emacs/forge-database.sqlite
emacs/projectile-bookmarks.eld
emacs/projectile.cache
emacs/recentf
emacs/straight/
emacs/transient/
emacs/url/
target/
.idea/
*.swp
*.orig
*.log
.DS_Store
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
nvim/bundle/*/doc/tags
gcloud/logs/
gh/
AWSVPNClient/
iterm2/AppSupport
gnupg/*.kbx
