# This file maintains work-specific config I don't want public.
emacs/early-init-private.el

# The no-littering Emacs package keeps data/temp files under emacs/var/.
emacs/var/

# Although I'm using the no-littering Emacs package, it doesn't yet
# completely work for the eln-cache directory.
# See: https://github.com/emacscollective/no-littering/discussions/206.
emacs/eln-cache/

**/*secret*
**/*token*
**/*auth*

*.swp
*.orig
*.log
.DS_Store
*~
\#*\#
.\#*
.emacs.desktop
.emacs.desktop.lock
*.elc

auto-save-list
argocd/
zsh/.zcompdump
zsh/.zsh_history
zsh/.zcompcache
zsh/.zsh_sessions/
zsh/lib/private-*.zsh
configstore/
droidcli/
envconfig/
exercism/
target/
tramp
ngrok/
nvim/bundle/*/doc/tags
gcloud/
git/gpg.inc
git/hooks/
gh/
AWSVPNClient/
iterm2/AppSupport
gnupg/*.kbx
raycast/extensions/